@import url("https://fonts.googleapis.com/css2?family=Fjalla+One&family=Six+Caps&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  user-select: none;
}

html,
body {
  height: 100%;
  color: #fff;
  width: 100%;
  background: #000;
  overflow-x: hidden;
}

.text-sm-16 {
  font: 16px fjalla one;
  letter-spacing: -0.32px;
  font-weight: 400;
}

.text-sm-24 {
  font: 24px fjalla one;
  font-weight: 400;
}

.text-md-77 {
  font: 77px fjalla one;
  text-transform: uppercase;
  letter-spacing: -3px;
  font-weight: 400;
  line-height: 100px;
}

.text-lg-160 {
  font: 160px fjalla one;
  text-transform: uppercase;
  letter-spacing: -0.5rem;
  font-weight: 400;
  line-height: 1em;
}
.text-lg-180 {
  font: 180px fjalla one;
  text-transform: uppercase;
  letter-spacing: -0.2rem;
  font-weight: 400;
  line-height: 1em;
}

.text-lg-184 {
  font: 184px fjalla one;
  text-transform: uppercase;
  letter-spacing: -0.5rem;
  font-weight: 400;
  line-height: 180px;
}

.text-large-360 {
  font: 32rem Six Caps;
  line-height: 5vw;
  line-height: 1;
}

.nav-bar {
  padding: 26px;
  width: 50%;
  padding-right: 0;
}
.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.nav h2 {
  text-transform: uppercase;
}

.nav-links {
  display: flex;
  gap: 24px;
}

.hero {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 100%;
  height: calc(100vh - 80px);
  overflow: hidden;
}

/* Slider container */
.hero-slider-container {
  width: 50vw;
  height: 100%;
  position: relative;
  overflow: hidden;
  z-index: 0;
}

.hero-image-section {
  display: flex;
  position: relative;
  z-index: 0;
  width: 50vw;
  object-fit: cover;
  object-position: center;
  transition: transform 1s ease-in-out;
  height: 100%;
}

.hero-image-section img {
  width: 100%;
  height: 100%;
  object-position: center;
  object-fit: cover;
  z-index: 0;

  flex-shrink: 0;
}

.hero-text-container {
  width: 100%;
  padding: 20px;
  display: flex;
  align-items: start;
  justify-content: center;
  position: relative;
  /* background: #e98d8d; */
}

.hero-text-container .poison-text-hero {
  display: flex;
  align-items: start;
  margin: -8vw 0;
  justify-content: center;
}

.hero-text-container .poison-text-hero h1 {
  top: 0;
  pointer-events: none;
}

.drag-ball {
  padding: 2px;
  top: 35%;
  left: 6%;
  border-radius: 50%;
  background-color: black;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 9;
  transform: translate(-50%, -50%);
  cursor: grab;
  position: absolute;
}

.drag-ball img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  animation: rotate 4s linear infinite;
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.image-section {
  width: 100%;
}

.image-section-container {
  display: block; /* Change from flex to block */
  position: relative;
  height: 100vh;
  overflow: hidden;
}

.page2-image-section {
  left: 0;
  position: absolute;
  width: 100%;
  z-index: 1;
}

.page2-image-section img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.pg2-image-text-overly {
  position: absolute;
  bottom: 15%;
  width: 100%;
  display: flex;
  opacity: 1;
  padding: 72px 46px;
  flex-direction: column;
  gap: 120px;
}

.page2-img-bottom {
  text-transform: capitalize;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.page2-img-bottom h5 {
  color: #d9d9d9;
}

.page2-image-section:nth-child(1) {
  z-index: 1;
  top: 0;
}

.page2-image-section:nth-child(2) {
  background: #b1f8b4;
  z-index: 2;
  top: 100%;
}

.page2-image-section:nth-child(3) {
  background: #b1d9f8;
  top: 200%;
  z-index: 3;
}

.cta-section {
  display: flex;
  align-items: center;
  justify-content: end;
  gap: 32px;
  padding: 40px;
}

.arrow-right-down {
  height: 40px;
  width: 40px;
}

.view-project-btn .text-sm-24 {
  text-transform: uppercase;
}

.our-services-section {
  padding: 88px 80px;
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.our-services-head {
  padding-right: 22rem;
}

.our-services-head p {
  line-height: 40px;
  text-transform: capitalize;
}

.our-services-bottom {
  display: grid;
  grid-template-columns: 1fr 1fr;
  color: #808183;
}
.our-services-list {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.marquee-section {
  padding: 100px 0;
  gap: 32px;
  width: 100%;
}

.text-gray {
  color: #808183;
}

.marquee-text {
  display: flex;
}

.marquee-text-right {
  transform: translateX(120%);
  transition: transform 2s ease-in-out infinite;
}

.marquee-text-right h1 {
  width: 100%;
  text-align: right;
}
.marquee-text-right:nth-child(3) h1 {
  width: 100%;
  text-align: right;
  padding-right: 10vw;
}

.marquee-text-left {
  transform: translateX(-120%);
  transition: transform 2s ease-in-out infinite;
}

.marquee-section-bottom {
  text-align: center;
  text-transform: capitalize;
  margin-top: 100px;
  padding: 0 30rem;
  overflow: hidden;
}

.magnet-card-section {
  padding: 100px 0 200px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 82px;
}

.magnet-card-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 26px;
}

.magnet-card {
  background: #fff;
  padding: 60px 40px;
  padding-right: 80px;
  color: #000;
  transform: translate3d(0, 0);
  display: flex;
  flex-direction: column;
  gap: 26px;
}

.magnet-card p {
  text-transform: capitalize;
  line-height: normal;
}

.card-svg-elem {
  height: 250px;
  width: 250px;
}

.card-svg-elem img {
  height: 100%;
  width: 100%;
}

/* OUR TEAM  */

.our-team-section {
  width: 100%;
  position: relative;
  overflow: hidden;
}

.our-team-marquee-bg {
  height: 100vh;
  display: flex;
  width: 100%;
  gap: 20px;
  flex-wrap: nowrap;
  align-items: center;
}

.our-team-marquee-bg h1 {
  white-space: no-wrap;
  flex-shrink: 0;
}

.our-team-container {
  position: absolute;
  top: 50%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 100%;
  align-items: start;
  justify-items: center;
  overflow: auto;
}

.team-card-container {
  display: flex;
  flex-direction: column;
  gap: 162px;
}

.our-team-left {
  margin-top: 580px;
}

.our-team-member {
  height: 582px;
  position: relative;
  width: 378px;
  overflow: hidden;
  transition: all 0.5s ease-in-out;
}
.our-team-member img {
  height: 582px;
  width: 378px;
  object-fit: cover;
}
.team-member-details {
  position: absolute;
  bottom: 0%;
  opacity: 0;
  left: 50%;
  text-align: center;
  transition: all 0.5s ease-in-out;
  transform: translate(-50%, -50%);
}

.our-team-member:hover .team-member-details {
  opacity: 1;
}

.our-team-member:hover {
  transform: rotateZ(10deg);
  border-radius: 220px;
}

.footer-section {
  padding: 100px 80px;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.footer-left {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.footer-left-head {
  display: flex;
  justify-content: end;
}

.footer-left-mid {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.footer-contactus-elem {
  display: flex;
  gap: 24px;
  align-items: center;
  text-transform: uppercase;
  justify-content: start;
  padding: 5px;
  border-bottom: 1.5px solid #fff;
  transition: all 0.8s cubic-bezier(0.19, 1, 0.22, 1);
}

.footer-contactus-elem:hover {
  margin-left: 46px;
}

.footer-social-links {
  display: flex;
  flex-direction: column;
  gap: 24px;
  color: #808183;
  justify-content: end;
  align-items: end;
}

.footer-social-links h5:hover {
  text-decoration: underline #808183;
  transition: all 0.2 cubic-bezier(0.19, 1, 0.22, 1);
}

.bottom-nav {
  display: flex;
  width: 95%;
  align-items: end;
  margin-top: 80px;
  justify-content: end;
  position: relative;
}

@media (max-width: 900px) {

  .hero{
    display: flex;
    flex-direction: column;
  }

  .hero-slider-container{
    width: 100%;
  }

  .hero-image-section {
    width: 100vw;
    height: 100%;

    background: rgb(255, 144, 144);
  }
}

@media (max-width: 768px) {
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    user-select: none;
  }

  html,
  body {
    height: 100%;
    color: #fff;
    width: 100%;
    background: #000;
    overflow-x: hidden;
  }

  .text-sm-16 {
    font: 16px fjalla one;
    letter-spacing: -0.32px;
    font-weight: 400;
  }

  .text-sm-24 {
    font: 16px fjalla one;
    font-weight: 400;
  }

  .text-md-77 {
    font: 77px fjalla one;
    text-transform: uppercase;
    letter-spacing: -3px;
    font-weight: 400;
    line-height: 100px;
  }

  .text-lg-160 {
    font: 56px fjalla one;
    text-transform: uppercase;
    letter-spacing: -0.2rem;
    font-weight: 400;
    line-height: 1em;
  }
  .text-lg-180 {
    font: 180px fjalla one;
    text-transform: uppercase;
    letter-spacing: -0.2rem;
    font-weight: 400;
    line-height: 1em;
  }

  .text-lg-184 {
    font: 56px fjalla one;
    text-transform: uppercase;
    letter-spacing: -0.1rem;
    font-weight: 400;
    line-height: 180px;
  }

  .text-large-360 {
    font: 360px Six Caps;
    line-height: 320px;
    letter-spacing: -0.5rem;
  }

  .nav-bar {
    padding: 26px;
    width: 100%;
    padding-right: 0;
  }
  .nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .nav h2 {
    text-transform: uppercase;
  }

  .nav-links {
    display: none;
    gap: 24px;
  }

  .hero {
    display: flex;
    flex-direction: column;
    grid-template-columns: auto auto;
    width: 100%;
    height: auto;
    overflow: hidden;
  }

  /* Slider container */
  .hero-slider-container {
    width: 100%;
    position: relative;
    overflow: hidden;
    z-index: 0;
  }

  .hero-image-section {
    display: flex;
    position: relative;
    z-index: 0;
    width: 100%;
    object-fit: cover;
    object-position: center;
    transition: transform 1s ease-in-out;
    height: 100%;
  }

  .hero-image-section img {
    width: 100%;
    height: 100%;
    object-position: center;
    object-fit: cover;
    z-index: 0;

    flex-shrink: 0;
  }

  .hero-text-container {
    width: 100%;
    height: 100%;
    padding: 20px;
    display: flex;
    align-items: start;
    justify-content: center;
    position: relative;
    /* background: #e98d8d; */
  }

  .hero-text-container .poison-text-hero {
    display: flex;
    align-items: start;
    justify-content: center;
  }

  .hero-text-container .poison-text-hero h1 {
    top: 0;
    margin: -8vw 0;
    pointer-events: none;
  }

  .image-section {
    height: 100%;
    width: 100%;
    margin-top: 8vw;
    position: relative;
  }

  .image-section-container {
    display: block; /* Change from flex to block */
    position: relative;
    height: 75vh;
    overflow: visible;
  }

  .page2-image-section {
    left: 0;
    position: absolute;
    width: 100%;
    height: 75vh;
    z-index: 1;
  }

  .page2-image-section img {
    height: 75vh;
    width: 100%;
    object-fit: cover;
  }

  .pg2-image-text-overly {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100%;
    display: flex;
    opacity: 1;
    padding: 72px 46px;
    flex-direction: column;
    gap: 20px;
    justify-content: end;
  }

  .page2-img-bottom {
    text-transform: capitalize;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .page2-img-bottom h5 {
    color: #d9d9d9;
  }

  .page2-image-section:nth-child(1) {
    z-index: 1;
    top: 0;
  }

  .page2-image-section:nth-child(2) {
    background: #000000;
    z-index: 2;
    top: 100%;
  }

  .page2-image-section:nth-child(3) {
    background: #b1d9f8;
    top: 200%;
    z-index: 3;
  }

  .cta-section {
    display: flex;
    align-items: center;
    justify-content: end;
    gap: 32px;
    padding: 40px;
  }

  .arrow-right-down {
    height: 40px;
    width: 40px;
  }

  .view-project-btn .text-sm-24 {
    font-size: 24px;
  }

  .our-services-section {
    padding: 142px 30px;
    display: flex;
    flex-direction: column;
    gap: 200px;
  }

  .our-services-head {
    padding-right: 0;
  }

  .our-services-head p {
    line-height: 24px;
    text-transform: capitalize;
  }

  .our-services-bottom {
    display: flex;
    flex-direction: column;
    grid-template-columns: 1fr 1fr;
    color: #808183;
    gap: 54px;
  }

  .our-services-list {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    gap: 8px;
  }

  .marquee-section {
    padding: 50px 0;
    gap: 32px;
    width: 100%;
  }

  .text-gray {
    color: #808183;
  }

  .marquee-text {
    display: flex;
  }

  .marquee-text-right {
    transform: translateX(100%);
    transition: transform 2s ease-in-out infinite;
  }

  .marquee-text-right h1 {
    width: 100%;
    text-align: right;
  }
  .marquee-text-right:nth-child(3) h1 {
    width: 100%;
    text-align: right;
    padding-right: 10vw;
  }

  .marquee-text-left {
    transform: translateX(-100%);
    transition: transform 2s ease-in-out infinite;
  }

  .marquee-section-bottom {
    text-align: center;
    text-transform: capitalize;
    margin-top: 50px;
    padding: 0 7rem;
    overflow: hidden;
  }

  .magnet-card-section {
    padding: 100px 0 200px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    gap: 82px;
  }

  .magnet-card-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 26px;
  }

  .magnet-card {
    background: #fff;
    padding: 60px 40px;
    padding-right: 80px;
    color: #000;
    transform: translate3d(0, 0);
    display: flex;
    flex-direction: column;
    gap: 26px;
  }

  .magnet-card p {
    text-transform: capitalize;
    line-height: normal;
  }

  .card-svg-elem {
    height: 250px;
    width: 250px;
  }

  .card-svg-elem img {
    height: 100%;
    width: 100%;
  }


  
/* OUR TEAM  */

.our-team-section {
  width: 100%;
  padding: 0 100px;
  overflow: hidden;
  position: relative;
}

.our-team-marquee-bg {
  height: 100vh;
  display: flex;
  width: 100%;
  gap: 20px;
  flex-wrap: nowrap;
  align-items: center;
}

.our-team-marquee-bg h1 {
  white-space: no-wrap;
  flex-shrink: 0;
  font-size: 164px;
}

.our-team-container {
  position: absolute;
  top: 50%;
  left: 0;
  display: flex;
  flex-direction: column;
  grid-template-columns: 1fr 1fr;
  width: 100%;
  padding: 0 100px;
  align-items: center;
  justify-items: center;
  overflow: hidden;
}

.team-card-container {
  display: flex;
  flex-direction: column;
  gap: 162px;
}

.our-team-left {
  margin-top: 580px;
}

.our-team-member {
  position: relative;
  height: 100%;
  width: 100%;
  overflow: hidden;
  transition: all 0.5s ease-in-out;
}
.our-team-member img {
  height: 150%;
  width: 100%;
  object-fit: cover;
}
.team-member-details {
  position: absolute;
  bottom: 0%;
  opacity: 1  ;
  left: 50%;
  text-align: center;
  transition: all 0.5s ease-in-out;
  transform: translate(-50%, -50%);
}

.footer-section {
  padding: 100px;
  display: flex;
  flex-direction: column;
  gap: 100px;
  grid-template-columns: 1fr 1fr;
}

.footer-left {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  gap: 50px;
}

.footer-section h1{
  font-size: 56px;
}

.footer-left-head {
  display: flex;
  justify-content: start;
}

.footer-left-mid {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.footer-contactus-elem {
  display: flex;
  gap: 50px;
  align-items: center;
  text-transform: uppercase;
  justify-content: start;
  padding: 5px;
  border-bottom: 1.5px solid #fff;
  transition: all 0.8s cubic-bezier(0.19, 1, 0.22, 1);
}

.footer-contactus-elem:hover {
  margin-left: 46px;
}

.footer-social-links {
  display: flex;
  flex-direction: column;
  gap: 50px;
  color: #808183;
  justify-content: end;
  align-items: start;
}

.footer-social-links h5:hover {
  text-decoration: underline #808183;
  transition: all 0.2 cubic-bezier(0.19, 1, 0.22, 1);
}

.bottom-nav {
  display: flex;
  width: 100%;
  padding: 50px ;
  padding-top: 0;
  align-items: end;
  margin-top: 80px;
  justify-content: end;
  position: relative;
}
.bottom-nav .nav-links{
  display: flex;
}
}
