*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html , body{
    height: 100%;
    width: 100%;
}


.work-hero {
    width: 100%;
    background: #ffffff;
    position: relative;
  }
  
  .work-hero-container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 110px 0;
  }
  
  .work-hero-container h1 {
    color: #000;
  }
  
